@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed');
button{
    font-family: 'Fira Sans Condensed', sans-serif;
}

*{
    font-family: 'Lobster';
}

.avatar{
    width: 60px;
    height: 60px;
}

.avatar_container{
    width: 70px;
}

label.labell {
    position: relative !important;
    margin-bottom: 10px !important;
    justify-content: left !important;
}

.comment_start{
    background-image: linear-gradient(-37deg, rgb(0, 247, 255), rgb(0, 162, 255));
}

.slider_img{
    height: 500px !important;
    overflow: hidden;
}

.ekko-lightbox .modal-dialog{
    min-width: 500px;
}

.ekko-lightbox .modal-body{
    min-height: 250px;
    overflow-y: auto;
}

.ekko-lightbox-container img{
    width: 100%;
}

.fillHight{
    height: 90vh;
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%) 
}